h1 {
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 600;
  color: #4A503D;
}

#title {
  padding-bottom: 2rem;
  background-color: #FAF2DA;
  max-width: 100%;
}

.image-box {
  width: 400px;
}

.image-div {
  padding-left: 2.4rem;
  display: flex;
  justify-content: center;
}

.container-fluid {
  padding: 1.3rem;
}

.buttons {
  margin-top: 30px;
  margin-right: 20px;
}

.row-second {
  margin: 0.4rem;
}

#features {
  padding-top: 4rem;
  max-width: 100%;
}

.iconcolor {
  color: #8E9775;
  padding-bottom: 10px;
}

.icons {
  padding: 0.5rem;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.iconcolor:hover {
  color:  #E28F83;
}

.navbar-brand {
  font-size: 1.4rem;
  color: #E28F83;
  padding-left: 1rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

.navbar-toggler-icon{
color: #E28F83;
}

.navbar-brand:hover {
  color: #8E9775;
}

.nav-link:hover {
  color: #8E9775;
}

.nav-link {
  color: #E28F83;
  font-size: 1rem;
  font-weight: lighter;
}

.row {
  padding: 2rem;
}

body {
  font-family: 'Ubuntu', 'sans-serif';
  max-width: 100%;
}

.navbar {
  padding: 2rem;
  background-color: #FAF2DA;
}



/* unfished hidden sections */
#testimonials{
  max-width: 100%;
padding: 7% 15%;
background-color: #E28F83;
color: #FAF2DA;
text-align: left;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 2rem;
height: 1.2;
}
.profile-image{
  width: 30%;
    transform: rotate(30deg);
      transform: scaleX(1);
}
.plants-text{
  position: absolute;
  left: 27rem;

}
#press{
  max-width: 100%;
  padding: 3% 15%;
  background-color: #E28F83;
}
.images{
  width: 43%;
}
.carousel-item{
  text-align: center;
}
hr{
  background-color: transition;
  border: none;
  border-top: 10px dotted #8E9775;
  width: 16%;

}
h4{
  color: #FAF2DA;
  padding: 16px;
}
#pricing{
    display: none;
}
#cta{
  display: none;
}
#footer{
    display: none;
}
